<div class="col-lg-4 col-lg-offset-4
            col-md-6 col-md-offset-3
            col-sm-8 col-sm-offset-2
            col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Reset Password</h1>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" [ngFormModel]="resetPasswordForm">
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" 
                               class="form-control" 
                               id="password3" 
                              
                               placeholder="Password"
                                #password='ngForm' 
                               [ngFormControl]="resetPasswordForm.controls['password']"  >
                        <div class='error' *ngIf="password.control.touched">
                            <div *ngIf="password.control.hasError('required')">Password is required.</div>
                            <!--<div *ngIf="password.control.hasError('minlength')">Stupid password</div>-->
                        </div>
                        
                    </div>
                    <div class='error' *ngIf="password.control.touched"><label class="{{password.control.errors.strength}} col-sm-2" *ngIf="password.control.hasError('strength')">{{password.control.errors.strength}}</label></div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password </label>
                    <div class="col-sm-8">
                        <input type="password"
                               class="form-control"
                               id="confirmPassword"
                               placeholder="Confirm Password"
                               #confirmPassword='ngForm'
                               [ngFormControl]="resetPasswordForm.controls['confirmPassword']">
                        <div class='error' *ngIf="confirmPassword.control.touched">
                            <div *ngIf="resetPasswordForm.hasError('mismatchedPasswords')">Passwords do not match.</div>
                        </div>
                    </div>
                   
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" 
                                class="btn btn-primary" 
                                [disabled]="resetPasswordForm.hasError('mismatchedPasswords') || password.control.errors.strength=='weak'"
                                (click)="reset(password.control.value)">Reset Password</button> 
                    </div>
                </div>
            </form>           
    </div>
</div>