<div class="col-xs-12 col-sm-12 col-md-6 col-lr-6">
    <div class="panel panel-default dash-widget">
        <div class="panel-heading">
            <h2 class="panel-title">{{title}}</h2>
        </div>

        <div class="panel-body">
            <div class="chart-wrapper">
                <canvas></canvas>
            </div>

            <form>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="lender" id="option1" autocomplete="off" checked> Today
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="lender" id="option2" autocomplete="off"> Last Week
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="lender" id="option3" autocomplete="off"> Last Month
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="lender" id="option3" autocomplete="off"> 3 Months
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="lender" id="option3" autocomplete="off"> 6 Months
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>